<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseOnlineStorage" value="false"/>
  </appSettings>
    <connectionStrings>
      <add name="DMPLocalDataStore" connectionString="Server=.;initial catalog=DMP;User ID=sa;Password=P@ssw0rd"/>
      <add name="DMPOnlineDataStore" connectionString="Server=10.10.10.47\SQLExpress;initial catalog=shield_dmp;User ID=sa;Password=Pa55w0rd1"/>
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>