<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <appSettings>
    <add key="UseOnlineStorage" value="false" />
    <add key="dqaSiteSelection" value="top90" />
    <add key="excelFile" value="C:\Users\Emeka C. Madubuko\Documents\for kachi"/>
    <!--<add key="shield_db" value="Server=40.71.94.123,8081;initial catalog=shield_db;User ID=mgic;Password=0yMgicShield2017"/>-->
    <add key="peadQuery" value="select ip.Shortname, st.state_name, l.lga_name, rmt.Facility, rpt.PatientId, rpt.HospitalNo, rpt.Age_at_start_of_ART_in_years, rpt.Age_at_start_of_ART_in_months, rpt.Sex, 
                                rpl.ARTStartDate, rpl.CurrentARTStatus
                                 from [dbo].[radet_MetaData] rmt with (nolock)
                                inner join [dbo].[radet_patient_line_listing] rpl with (nolock) on rmt.Id = rpl.RadetMetaDataId
                                inner join [dbo].[radet_patient] rpt with (nolock) on rpl.RadetPatientId = rpt.Id
                                inner join lga l on rmt.LGA = l.lga_code inner join states st on l.state_code=st.state_code
                                inner join ImplementingPartners ip on rmt.IP = ip.Id
                                where ((Age_at_start_of_ART_in_years between 0 and 19) or Age_at_start_of_ART_in_months !=0)
                                and rmt.RadetPeriod='Q3 FY18' and rpl.ARTStartDate between '2007-10-01' and '2016-09-30'
                                order by rmt.Facility"/>
  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=.\sqlexpress;initial catalog=Shield_dmp_run;User ID=sa;Password=P@ssw0rd</property>
      <!--<property name="connection.connection_string">Server=40.71.94.123,8081;initial catalog=shield_db;User ID=mgic;Password=0yMgicShield2017</property>-->
      <property name="connection.isolation">ReadCommitted</property>
      <property name="adonet.batch_size">50</property>
      <property name="command_timeout">80</property>
      <property name="generate_statistics">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="default_schema">dbo</property>
      <property name="hbm2ddl.auto">update</property>
      <!-- HBM Mapping Files -->
      <mapping assembly="CommonUtil" />
      <mapping assembly="DAL" />
      <mapping assembly="BWReport.DAL" />
      <mapping assembly="EP.DAL" />
      <mapping assembly="RADET.DAL" />
    </session-factory>
  </hibernate-configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=40.71.94.123,8081;initial catalog=CentralUserDB;User ID=mgic;Password=0yMgicShield2017" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Server=.;initial catalog=CentralUserDB;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <!--<add name="shield_dmpEntities" connectionString="metadata=res://*/Models.Data.Model.csdl|res://*/Models.Data.Model.ssdl|res://*/Models.Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.10.47;initial catalog=shield_dmp;user id=sa;password=Pa55w0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="shield_dmpEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Shield_dmp_run;User ID=sa;Password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>