
@{
    Layout = "~/Views/Shared/_mpmlayout.cshtml";
}
@section AddToHead{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/Ultilities.js?v=@DateTime.Now.Ticks.ToString()"></script>

    <style>
        .container {
            max-width: 400px;
            height: 70px;
            margin: 0em auto -1em auto;
        }

        .other-container {
            max-width: 400px;
            height: 100px;
            margin: 0em auto -1em auto;
        }
    </style>

    <script type="text/javascript">

    </script>
}

<div class="col-sm-4" id="gsm-container">
    <h5 style="text-align:center">GSM Completeness Report (Uploads)</h5>
    <div id="container1" class="container"></div>
    <div id="container2" class="container"></div>
    <div id="container3" class="container"></div>
    <div id="container4" class="container"></div>
    <div id="container5" class="container"></div>
    <div id="container6" class="container"></div>
    <div id="container7" class="container"></div>
    <div id="container8" class="container"></div>
    <div id="container9" class="container"></div>
    <div id="container10" class="container"></div>
    <div id="container11" class="container"></div>
    <div id="container12" class="container"></div>
</div>

<div class="col-sm-4">
    <h5 style="text-align:center">IMS Completeness Report (Uploads)</h5>
    <div id="container-1" class="container"></div>
    <div id="container-2" class="container"></div>
    <div id="container-3" class="container"></div>
    <div id="container-4" class="container"></div>
    <div id="container-5" class="container"></div>
    <div id="container-6" class="container"></div>
    <div id="container-7" class="container"></div>
    <div id="container-8" class="container"></div>
    <div id="container-9" class="container"></div>
    <div id="container-10" class="container"></div>
    <div id="container-11" class="container"></div>
    <div id="container-12" class="container"></div>
</div>

@*<hr />*@
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-4">
        <h5 style="text-align:center">Facility/Indicator completeness report (GSM)</h5>
        <div id="container-gsm-ind-1" class="container"></div>
        <div id="container-gsm-ind-2" class="container"></div>
        <div id="container-gsm-ind-3" class="container"></div>
        <div id="container-gsm-ind-4" class="container"></div>
        <div id="container-gsm-ind-5" class="container"></div>
        <div id="container-gsm-ind-6" class="container"></div>
        <div id="container-gsm-ind-7" class="container"></div>
        <div id="container-gsm-ind-8" class="container"></div>
        <div id="container-gsm-ind-9" class="container"></div>
        <div id="container-gsm-ind-10" class="container"></div>
        <div id="container-gsm-ind-11" class="container"></div>
        <div id="container-gsm-ind-12" class="container"></div>
    </div>

    <div class="col-sm-4">
        <h5 style="text-align:center">Facility/Indicator completeness report (IMS)</h5>
        <div id="container-ims-ind-1" class="container"></div>
        <div id="container-ims-ind-2" class="container"></div>
        <div id="container-ims-ind-3" class="container"></div>
        <div id="container-ims-ind-4" class="container"></div>
        <div id="container-ims-ind-5" class="container"></div>
        <div id="container-ims-ind-6" class="container"></div>
        <div id="container-ims-ind-7" class="container"></div>
        <div id="container-ims-ind-8" class="container"></div>
        <div id="container-ims-ind-9" class="container"></div>
        <div id="container-ims-ind-10" class="container"></div>
        <div id="container-ims-ind-11" class="container"></div>
        <div id="container-ims-ind-12" class="container"></div>
    </div>
</div>




@section Scripts
{
    <script src="~/Scripts/Highcharts/code/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/no-data-to-display.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/data.js"></script>
    @* <script src="~/Scripts/Highcharts/code/modules/drilldown.js"></script>*@
    <script src="~/Scripts/Highcharts/code/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/exporting.js"></script>
    <script src="~/Scripts/Highcharts/code/modules/bullet.js"></script>
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {

            Highcharts.setOptions({
                chart: {
                    inverted: true,
                    //marginLeft: 135,
                    type: 'bullet'
                },
                title: {
                    text: null
                },
                legend: {
                    enabled: false
                },
                yAxis: {
                    gridLineWidth: 0
                },
                plotOptions: {
                    series: {
                        pointPadding: 0.25,
                        borderWidth: 0,
                        color: 'green',
                        targetOptions: {
                            width: '0%'
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                }
            });


            $.ajax({
                url: '/MPM/CompletenessReportData',
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false
            }).done(function (response) {
                buildCompletenessChart(response.gsm, "container");
                buildCompletenessChart(response.ims, "container-");
                buildCompletenessChart(response.gsm_fac_ind_comp, "container-gsm-ind-");
                buildCompletenessChart(response.ims_fac_ind_comp, "container-ims-ind-");
                $("#loadImg2").hide();
            }).error(function (xhr, status, err) {
                console.log(xhr.responseText);
                $("#loadImg2").hide();
            });

            function buildCompletenessChart(dataList, container) {
                $.each(dataList, function (i, d) {

                    Highcharts.chart(container + (i + 1), {
                        xAxis: {
                            categories: ['<span>' + d.ReportingPeriod + '</span>']
                        },
                        yAxis: {
                            plotBands: [{
                                from: 0,
                                to: 100,
                                color: 'coral'
                            }],
                            labels: {
                                format: '{value}%'
                            },
                            title: null
                        },
                        series: [{
                            data: [{
                                y: d.percent,
                                target: 90
                            }]
                        }],
                        tooltip: {
                            pointFormat: '<b>{point.y}% report submission'
                        }
                    });
                });
            }



        });
    </script>
}
