
@{

    Layout = "~/Views/Shared/_mpmlayout.cshtml";
}

@section AddToHead{

    <script type='text/javascript' src='https://us-west-2b.online.tableau.com/javascripts/api/viz_v1.js'></script>

    <style>
        html, body {
            height: 100%
        }
    </style>

    <script type="text/javascript">
        var tableauUrl = "https://us-west-2b.online.tableau.com/#/site/mpmdataanalysis";
    </script>
}


<h2>MPM Dashboard</h2>

<div class="col-sm-8">
    <div class="row">

        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a aria-expanded="true" href="#ist90" data-toggle="tab">First 90</a></li>
                <li class=""><a aria-expanded="false" href="#2nd90" data-toggle="tab">Second 90</a></li>
                <li class=""><a aria-expanded="false" href="#3rd90" data-toggle="tab">Third 90</a></li>
                <li class=""><a aria-expanded="false" href="#pmtct_cascade" data-toggle="tab">PMTCT Cascade</a></li>
                <li class=""><a aria-expanded="false" href="#tb_cascade" data-toggle="tab">TB HIV Cascade</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="ist90">
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
                        <object class='tableauViz' width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='HTINDEX&#47;HTSINDEXtesting' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='showShareOptions' value='false' />
                            <param name='customViews' value='no' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>
                    <hr />
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
                        <object class='tableauViz' width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='First90&#47;HTSotherPITC' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='showShareOptions' value='false' />
                            <param name='customViews' value='no' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>
                </div>

                <div class="tab-pane" id="2nd90">
                    <div class='tableauPlaceholder' style='width: 1200px; height: 827px;'>
                        <object class='tableauViz' width='1200' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='Linkage&#47;LinkagebyState' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>

                    <hr />
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
                        <object class='tableauViz' width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='ART&#47;TX_RET' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>

                    <hr />
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
                        <object class='tableauViz' width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='ART&#47;TX_RET' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>
                </div>

                <div class="tab-pane" id="3rd90">
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
                        <object class='tableauViz' width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='PMTCTVIRALLOAD&#47;SuppressionbyState' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>

                    <hr />
                    <div class='tableauPlaceholder' style='width: 1000px; height: 827px;'>
                        <object class='tableauViz' width='1000' height='827' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='ART&#47;Tx_VLA' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>
                </div>

                <div class="tab-pane" id="pmtct_cascade">
                    <div class='tableauPlaceholder' style='width: 1000px; height: 1000px;'>
                        <object class='tableauViz' width='1000' height='1000' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='PMTCTCascade&#47;PMTCTCascade' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='showShareOptions' value='false' />
                            <param name='customViews' value='no' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>
                </div>
                <div class="tab-pane" id="tb_cascade">
                    <div class='tableauPlaceholder' style='width: 1000px; height: 1300px;'>
                        <object class='tableauViz' width='1000' height='1300' style='display:none;'>
                            <param name='host_url' value='https%3A%2F%2Fus-west-2b.online.tableau.com%2F' />
                            <param name='embed_code_version' value='3' />
                            <param name='site_root' value='&#47;t&#47;mpmdataanalysis' />
                            <param name='name' value='TB_HIVCascade&#47;TB_HIVCascade' />
                            <param name='tabs' value='no' />
                            <param name='toolbar' value='no' />
                            <param name='showAppBanner' value='false' />
                            <param name='showShareOptions' value='false' />
                            <param name='customViews' value='no' />
                            <param name='filter' value='iframeSizedToWindow=true' />
                            @if (User.IsInRole("ip"))
                            {
                                <param name='filter' value='IP=@(new ShieldPortal.Services.Utils().GetloggedInProfile().Organization.ShortName)' />
                            }
                        </object>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div id="closeDiv" style="display: none;">
    <button type="button" class="close ndr-data-table-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



@section Scripts
{

    <script>
        $(document).ready(function () {

            $(".tabToolbarButton.tab-widget.edit").hide();

        });
    </script>
}