
@{
    Layout = "~/Views/Shared/_radetLayoutPage.cshtml";
}


<div class="col-sm-12">
    <iframe width="840" height="530" src="https://app.powerbi.com/view?r=eyJrIjoiZTc4MjQzNTktYjY3Yy00NzU1LWE4ODAtOGMyYmYwODAxY2MwIiwidCI6Ijg2MWU0MjY3LWQwNDEtNDViZC1hZTI5LTI5ZGEzZTIxNDhkOSIsImMiOjh9" 
            frameborder="0" allowFullScreen="true"></iframe>
</div>