<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/mer-surface</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/mer-surface</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=10.10.11.37;Initial Catalog=CentralUserDB;User ID=sa;Password=0yMgic2017;Application Name=EntityFramework" Name="data source=10.10.11.37;initial catalog=CentralUserDB;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ShieldPortal.Models.ApplicationDbContext, ShieldPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="shield_dmpEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=10.10.11.37;Initial Catalog=Shield_dmp_run;User ID=sa;Password=0yMgic2017;Application Name=EntityFramework" Name="data source=10.10.11.37;initial catalog=Shield_dmp_run;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DQA.DAL.Data.shield_dmpEntities, DQA.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="shield_dmpEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=10.10.11.37;initial catalog=Shield_dmp_run;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=10.10.11.37;initial catalog=CentralUserDB;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="shield_dmpEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=10.10.11.37;initial catalog=Shield_dmp_run;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=10.10.11.37;initial catalog=CentralUserDB;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="shield_dmpEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=10.10.11.37;initial catalog=Shield_dmp_run;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=10.10.11.37;initial catalog=CentralUserDB;User ID=sa;Password=0yMgic2017"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="shield_dmpEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string="data source=10.10.11.37;initial catalog=Shield_dmp_run;User ID=sa;Password=0yMgic2017;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=10.10.11.37;initial catalog=CentralUserDB;User ID=sa;Password=0yMgic2017"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>