@media print {
    a[href]:after {
        content: none !important;
    }
    .table-responsive{
        font-size:10px
    }
    .embeddedLandingRootContent{
        background-color:darkseagreen
    }
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    font-weight: bold;
}

li.next.disabled {
    visibility: hidden;
}

li.removeVisibility {
    visibility: hidden;
    display: inline;
}

.smallPanelHeader {
    padding: 5px 20px;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.panel-warning {
    border-color: steelblue;
}

    .panel-warning > .panel-heading {
        color: #FFF;
        background-color: steelblue;
        border-color: steelblue;
    }

.panel-heading {
    padding: 5px 20%;
}

/*body {
    background-image: url('../images/backgroung_image.png'); 
}*/
label {
    font-weight: bold;
}

.page-container {
    height: 100%;
    position: relative;
    display: table;
    table-layout: fixed;
    background-color: #fff;
}

.highcharts-data-table table {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}

.highcharts-data-table thead, .highcharts-data-table tbody {
    display: inline-block;
}

.highcharts-data-table tr {
    display: inline-block;
}

.highcharts-data-table th, .highcharts-data-table td {
    display: block;
    text-align: right;
    padding: 5px 7px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

    .highcharts-data-table td:empty {
        display: none;
    }

    .highcharts-data-table th:last-child, .highcharts-data-table td:last-child {
        border: none;
    }

 /*The sticky class is added to the header with JS when it reaches its scroll position /*/
.sticky {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 8.2%;
    /*padding-right: 23.5%;*/
    /*padding-top: 15%;*/
    /*width: 100%;
     z-index: 9999;*/
    /*background-color: white;*/
}