.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    font-weight: bold;
}

li.next.disabled {
    visibility: hidden;
}

li.removeVisibility {
    visibility: hidden;
    display: inline;
}

.smallPanelHeader {
    padding: 5px 20px;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.panel-warning {
    border-color: steelblue;
}
    .panel-warning > .panel-heading {
        color: #FFF;
        background-color: steelblue;
        border-color: steelblue;
    }

.panel-heading {
    padding: 5px 20%;
}

/*form{
    color:steelblue;
}
.form-control{
    border-color:steelblue;
}
 .btn-warning{
  background-color: steelblue;
  
        }
 .btn-warning:hover{
  background-color: steelblue;
   border-color: steelblue;
        }*/
/*body {
    background-image: url('../images/backgroung_image.png'); 
}*/
label {
    font-weight: bold;
}
/*.btn-default.btn-outline {
    color: steelblue;
    background-color: transparent;
    border-color: steelblue;
}

.btn-default:hover {
    color: #333;
    background-color: steelblue;
}*/
.page-container {
    height: 100%;
    /*width: 100%;*/
    position: relative;
    display: table;
    table-layout: fixed;
    background-color: #fff;
}