.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    font-weight: bold;
}

li.next.disabled {
    visibility: hidden;
}

li.removeVisibility {
    visibility: hidden;
    display: inline;
}

.smallPanelHeader {
    padding: 5px 20px;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.panel-warning {
    border-color: #929b17;
}
    .panel-warning > .panel-heading {
        color: #FFF;
        background-color: #929b17;
        border-color: #929b17;
    }

     .panel-heading {
                color: #FFF;
                background-color: #929b17;
                border-color: #929b17;
                    padding: 5px 25%;
            }

form{
    color:#929b17;
}
.form-control{
    border-color:#929b17;
}
 .btn-warning{
  background-color: #929b17;
   border-color: #929b17;
        }
body {
    background-image: url('../images/background-image.jpg'); 
}