
@{
    Layout = "~/Views/Shared/_DQAFY2017Q2Layout.cshtml";
}

<div class="col-md-9">
    <div class="panel panel-success">
        <div class="panel-heading clearfix" style="padding:8px 20%">
            <h5 class="panel-title">Radet validation</h5>
        </div>
        <div class="panel-body">

            <span id="lding">Loading...Please wait</span>
            <div class="progress active" id="progress">                
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    
                </div>
            </div>

            <a id="save_download" style="text-transform:capitalize;text-decoration:underline;color:blue;cursor:pointer">Download</a>
            <div class="table-responsive" style="overflow-x:initial">
                <table id="validation_tbl" class="table table-bordered table-hover" style="width:100%; font-size:10px">
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>Facility</th>
                            <th>Tx_Curr (RADET)</th>
                            <th>Tx_Curr (DATIM)</th>
                            <th>Difference</th>
                            <th>% Difference</th>
                            <th>Tx_New (RADET)</th>
                            <th>Tx_New (DATIM)</th>
                            <th>Difference</th>
                            <th>% Difference</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
<script src="~/Scripts/Ultilities.js?v=@DateTime.Now.Ticks.ToString()"></script>
<script src="~/plugins/datatables/extensions/Buttons/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            
            //$('#validation_tbl').DataTable({
            //    dom: 'Bfrtip',
            //    buttons: [
            //    {
            //        extend: 'print',
            //        text: 'print',
            //        autoPrint: true,
            //        title: "FY 2016 DQA Report"
            //    }
            //    ]
            //});             
            //$('.dt-buttons').append("<a id='save_download' style='text-transform:capitalize;text-decoration:underline;color:blue;cursor:pointer'>Download</a>")

            $.ajax({
                url: "/DQAFY2017Q2/RadetValidationData",
                method: "Post",
                contentType: "application/json",
                success: function (data) {
                    var jsonHtmlTable = buildTable(JSON.parse(data))
                }
            });

            function buildTable(dataList) {
                $("#validation_tbl tbody").empty();
                $.each(dataList, function (i, d) {
                    var html = "<tr>";
                    html += "<td>" + d.ShortName + "</td>";
                    html += "<td>" + d.Facility + "</td>";
                    html += "<td>" + d.Tx_Curr + "</td>";
                    html += "<td>" + d.p_Tx_Curr + "</td>";

                    html += "<td>" + d.Tx_Curr_difference + "</td>";
                    if (Math.abs(parseInt(d.Tx_Curr_concurrency)) < 10) {
                        html += "<td style='background-color:limegreen;color:#fff;text-align: center;'>" + Math.abs(parseInt(d.Tx_Curr_concurrency)) + "%</td>";
                    }
                    else {
                        html += "<td style='background-color:red;color:#fff;text-align: center;'>" + Math.abs(parseInt(d.Tx_Curr_concurrency)) + "%</td>";
                    }
                    html += "<td>" + d.Tx_New + "</td>";
                    html += "<td>" + d.p_Tx_New + "</td>";

                    html += "<td>" + d.Tx_New_difference + "</td>";
                    if (Math.abs(parseInt(d.Tx_New_concurrency)) < 10) {
                        html += "<td style='background-color:limegreen;color:#fff;text-align: center;'>" + Math.abs(parseInt(d.Tx_New_concurrency)) + "%</td>";
                    }
                    else {
                        html += "<td style='background-color:red;color:#fff;text-align: center;'>" + Math.abs(parseInt(d.Tx_New_concurrency)) + "%</td>";
                    }
                    html += "</tr>";
                    $("#validation_tbl tbody").append(html);

                });
                $("#progress").hide();
                $("#lding").hide();
            }

            $(document).on("click", "#save_download", function (e) {
                exportTableToCSV.apply(this, [$('#validation_tbl'), 'Validation.csv']);
            });
             
        });
    </script>
}