
@{
    Layout = "~/Views/Shared/_bwrLayout.cshtml";
}

@section AddToHead{ 
    <link href="~/css/style.css" rel="stylesheet" />
}

<div class="col-sm-12">
   @* <iframe width="933" height="2154" src="https://app.powerbi.com/view?r=eyJrIjoiZGQ0YmVlYTctNWIwMC00Y2U4LTg4ZmYtZTVkYjg5Nzg3ODcyIiwidCI6Ijg2MWU0MjY3LWQwNDEtNDViZC1hZTI5LTI5ZGEzZTIxNDhkOSIsImMiOjh9" frameborder="0" allowtransparency="true" scrolling="no" allowFullScreen="true"></iframe>*@

    @foreach (var item in ViewData)
    {
        @*<h4>@item.Key.Replace("_", " ")</h4>*@ 
       <div id='@item.Key'>            
       </div> 
       <br />
    }

</div>


@section Scripts
{ 

    <script>
        $(document).ready(function () {

            var data = @Html.Raw(Json.Encode(ViewData));

            $.each(data, function(index, chart){                
                var iframe = $.parseHTML(chart.Value);
                $("#"+chart.Key).html(iframe);
            });
             
        });
    </script>
}
