
@{
    Layout = "~/Views/Shared/_bwrLayout.cshtml";
}

@section AddToHead{ 
    <link href="~/css/style.css" rel="stylesheet" />
}

<div class="col-sm-12">
     
    @foreach (var item in ViewData)
    {
        <h4>@item.Key.Replace("_", " ")</h4> 
       <div id='@item.Key'>            
       </div> 
       <br />
    }

</div>


@section Scripts
{ 

    <script>
        $(document).ready(function () {

            var data = @Html.Raw(Json.Encode(ViewData));

            $.each(data, function(index, chart){                
                var iframe = $.parseHTML(chart.Value);
                $("#"+chart.Key).html(iframe);
            });
             
        });
    </script>
}
