
@{

    Layout = "~/Views/Shared/_pgsmlayout.cshtml";
}

@section AddToHead{

    <link href="~/Scripts/Highcharts/code/css/highcharts.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%
        }
    </style>


}
<h2>e-GSM Previsit Report</h2>

<div class="col-md-8">
    <div class="row">
        <table class="table table-bordered table-striped">
            <caption class="text-center" id="visitDate">  </caption>
            <tr>
                <th colspan="2" class="bg-info">Testing (FY2018 Cummulative)</th>
            </tr>
            <tr>
                <td>HTS_TST</td>
                <td id="hts_tst"></td>
            </tr>
            <tr>
                <td>HTS_TST_POS</td>
                <td id="hts_tst_pos"></td>
            </tr>
            <tr>
                <td>Yield</td>
                <td id="hts_yield"></td>
            </tr>
            <tr>
                <td>No. of test needed to find 1 positive</td>
                <td id="numFindPositive"></td>
            </tr>
            <tr>
                <th colspan="2" class="bg-info">Treatment Changes (FY17-FY18)</th>
            </tr>
            <tr>
                <td>TX_CURR(FY2017 Q4)</td>
                <td></td>
            </tr>
            <tr>
                <td>TX_CURR(FY2018 Q4)</td>
                <td></td>
            </tr>
            <tr>
                <td>TX_NEW</td>
                <td></td>
            </tr>
            <tr>
                <td>TX_NET_NEW</td>
                <td></td>
            </tr>
            <tr>
                <td>TX_NEW : TX_NET_NEW</td>
                <td></td>
            </tr>
            <tr>
                <th colspan="2" class="bg-info">Linkage Proxy</th>
            </tr>
            <tr>
                <td>(HTS_TST_POS - TX_NEW) / HTS_TST_POS</td>
                <td></td>
            </tr>
            <tr>
                <th colspan="2" class="bg-info">Viral Load Suppression</th>
            </tr>
            <tr>
                <td>Eligible among TX_CURR</td>
                <td id="eligibleTxCurr"></td>
            </tr>
            <tr>
                <td>Tested among eligible TX_CURR</td>
                <td id="testedEligibleTxCurr"></td>
            </tr>
            <tr>
                <td>Results available among tested</td>
                <td id="resultAvailable"></td>
            </tr>
            <tr>
                <td>Viral Load Suppressed among those with results available </td>
                <td id="viralLoadSuppressed"></td>
            </tr>
        </table>

    </div>

</div>
<div class="col-md-2">
    <div class="" style="margin-top:15px;">

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <h5 style="text-decoration:underline;">Filter <span class="pull-right"> <a href="javascript:window.location.reload()" class="btn-sm">Refresh All <i class="glyphicon glyphicon-refresh"></i> </a></span></h5>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <select id="reportingPeriod" class="form-control" required>
                        <option value="">Select Reporting Period</option>
                        <option value="14-Jan-2019">14-Jan-19</option>
                        <option value="28-Dec-2018">24-Dec-18</option>
                        <option value="Aug-18">Aug-18</option>
                        <option value="Dec-18">Dec-18</option>
                        <option value="Jul-18">Jul-18</option>
                        <option value="Nov-18">Nov-18</option>
                        <option value="Oct-18">Oct-18</option>
                        <option value="Sep-18">Sep-18</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <select id="ip" class="form-control" required>
                        <option value="">Select IP</option>
                        <option value="APIN">APIN</option>
                        <option value="IHVN">IHVN</option>
                        <option value="CIHP">CIHP</option>
                        <option value="CCFN">CCFN</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <select class="form-control" id="states">
                        <option value="">Select State</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <select class="form-control" id="site">
                        <option value="">Select Site</option>
                    </select>
                </div>
            </div>

            @*<div class="form-group">
                    <div class="col-sm-12">
                        <a class="btn btn-sm btn-info" id="btnSearch">Refresh</a>
                    </div>
                </div>*@
        </form>
    </div>
</div>


@section Scripts
{
  
    <script>
        $(document).ready(function () {

            function roundFloat(number, maxPlaces) {
                return number == null ? '' : number.toFixed(maxPlaces); 
            }

            function sumYield(depts) {
                var totalYield = 0;
                $.each(depts, function () {
                    totalYield += this.yield;
                });

                return totalYield;
            }

            $("#site").change(function () {
                data = [];

                var site = this.value;
              
                var reportingPeriod = $("#reportingPeriod").val();

               loadData(site, reportingPeriod);

                function loadData(site, reportingPeriod) {
                    $.ajax({
                       
                        url: "/api/EGSM/getGSMHTSCummulative?siteName=" + site +"&reportingPeriod="+reportingPeriod,
                        type: "GET",
                        success: function (response) {                            
                            if (response === null ) {
                                alert("No data values were found for the selected site !");
                            } else {
                                //console.log(sumYield(response.Yield));
                                //console.log(response.Yield);
                                var jsonYield = JSON.parse(response.Yield);
                                
                                $("caption#visitDate").html("Visit Date: " + reportingPeriod);
                                //$("td#eligibleTxCurr").html(vl.ViralLoadCascadeEligible);
                                //$("td#testedEligibleTxCurr").html(vl.ViralLoadCascadeCollected + " (" + parseInt((vl.ViralLoadCascadeCollected / vl.ViralLoadCascadeEligible) * 100) + "%)");
                                //$("td#resultAvailable").html(vl.ViralLoadCascadeDoc + " (" + parseInt((vl.ViralLoadCascadeDoc / vl.ViralLoadCascadeCollected) * 100) + "%)");
                                //$("td#numFindPositive").html(vl.ViralLoadCascadeSupp + " (" + parseInt((vl.ViralLoadCascadeSupp / vl.ViralLoadCascadeDoc) * 100) + "%)");
                                $("td#hts_tst").html(response.HTS_TST);
                                $("td#hts_tst_pos").html(roundFloat(response.HTS_TST_POS, 2));
                                $("td#hts_yield").html(sumYield(jsonYield));                                
                                $("td#numFindPositive").html(response.Num_Find_Positive);

                            }

                        }
                    });
                }


            });
        });
    </script>


}