<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseOnlineStorage" value="false" />
    <add key="Logfile" value="c:\logs\ShieldportalError" />
    <add key="Use_top_90_for_dqa_site_selection" value="false" />
    <add key="allow_view_dmp_dashboard" value="false" />
    <add key="validRegimenLine" value="ADULT.1st.Line,Adult.1st.Line,Peds.1st.Line,Ped.1st.Line,Adult.2nd.Line,Peds.2nd.Line,Adult.3rd.Line,Peds.3rd.Line" />
    <add key="validRegimen" value="AZT-3TC-lPV/r,TDF-3TC-eFV,AZT-3TC-NVP,TDF-FTC-LPV/r,DRVr-DTG Â± 1-2 NRTIs,D4T-3TC-NVP,ABC-DDI-LPV/r,DTG + 2 NRTIs,AZT-3TC-EFV,TDF-3TC-LPV/r,DRVr-2NRTIs Â± NNRTI,D4T-3TC-EFV,ABC-3TC-LPV/r,DRVr + 2 NRTIs,D4T-3TC-NVP,AZT-3TC-LPV/r,DRVr-RAL Â± 1-2NRTIs,AZT-3TC-NVP,AZT-3TC-LPV/r,DRVr + DTG Â± 1-2 NRTIs,D4T-3TC-EFV,AZT-TDF-FTC-LPV/r,AZT-3TC-EFV,D4T-3TC-LPV/r,TDF-3TC-NVP,AZT-TDF-3TC-LPV/r,ABC-3TC-NVP,DDI-3TC-NVP,TDF-3TC-EFV,TDF-FTC-ATV/r,ABC-3TC-EFV,ABC-3TC-DDI,TDF-FTC-NVP,TDF-3TC-ATV/r,ABC-3TC-AZT,TDF-3TC-ATV/r,TDF-FTC-EFV,AZT-3TC-ATV/r,TDF-3TC-EFV,TDF-3TC-RAL,AZT-3TC-ABC,TDF-3TC-DRV/r,TDF-3TC-DTG,AZT-3TC-RAL,AZT-3TC-TDF,AZT-3TC-DRV/r,TDF-3TC-EFV400,ABC-3TC-DTG,ABC-3TC-LPV/r,AZT-3TC-LPV/r,Other,Others" />
    <add key="validPregnancyStatus" value="Not Pregnant,Pregnant,Breastfeeding" />
    <add key="validSex" value="Female,Male" />
    <add key="validARTStatus" value="Active,Dead,LTFU,Stopped,Transferred Out,Transferred out" />
    <add key="DQAToolQ3" value="~\Report\Template\DQA FY2017 Q3\Data Quality Assessment tool_v3.xlsm" />
    <add key="ReportPeriod" value="Q4 FY18" />
    <add key="ndr_statistics_url" value="http://localhost:2002/Home/Get_Tx_Curr_Tx_New?securityKey=161ebd7d45089b3446ee4e0d86dbcf92"/>
    <add key="ndr_facility" value="https://ndr.shieldnigeriaproject.com/Facility/FacilitiesForRADET"/>
    <add key ="refresh_ndr_statistics" value="false"/>
  </appSettings>
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Server=41.87.86.105;initial catalog=Shield_db_test;User ID=shielduser;Password=P@ssw0rd;</property>
      <!--<property name="connection.connection_string">Server=40.71.94.123,8081;initial catalog=shield_db;User ID=mgic;Password=0yMgicShield2017</property>-->
      <property name="connection.isolation">ReadCommitted</property>
      <property name="adonet.batch_size">50</property>
      <property name="command_timeout">80</property>
      <property name="generate_statistics">true</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="default_schema">dbo</property>
      <property name="hbm2ddl.auto">update</property>
      <property name="current_session_context_class">web</property>
      <!-- HBM Mapping Files -->
      <mapping assembly="CommonUtil" />
      <mapping assembly="DAL" />
      <mapping assembly="BWReport.DAL" />
      <mapping assembly="MPM.DAL" />
      <mapping assembly="RADET.DAL" />
    </session-factory>
  </hibernate-configuration>
 
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=41.87.86.105;initial catalog=CentralUserDB;User ID=shielduser;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
    <!--<add name="shield_dmpEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=40.71.94.123,8081;initial catalog=shield_db;User ID=mgic;Password=0yMgicShield2017;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="shield_dmpEntities" connectionString="metadata=res://*/Data.Model.csdl|res://*/Data.Model.ssdl|res://*/Data.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=41.87.86.105;initial catalog=Shield_db_test;User ID=shielduser;Password=P@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
     
    <sessionState timeout="60" mode="InProc">
    </sessionState>
    
    <authentication mode="Forms">
      <forms name=".ASPXAUTH_shield" loginUrl="~/Account/Login" timeout="2881" slidingExpiration="true" />
    </authentication>
    <!--<compilation debug="true" targetFramework="4.6" />-->
    <httpRuntime targetFramework="4.6" maxRequestLength="1048576" executionTimeout="3600" />
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="500" redirect="~/Error_500.aspx" />
      <error statusCode="400" redirect="~/Error_400.aspx" />
    </customErrors>
    <compilation debug="true" /> 
  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <add name="MyHttpModule" type="ShieldPortal.MyHttpModule, ShieldPortal, Version=1.0.0.0, Culture=neutral"/>
    </modules>
     
    <httpErrors errorMode="Custom">
      <remove statusCode="405" subStatusCode="-1" />
      <error statusCode="405" prefixLanguageFilePath="" path="/my-page.htm" responseMode="ExecuteURL" />
      <remove statusCode="404" />
      <error statusCode="404" path="~/Error_400.html" responseMode="File" />
      <remove statusCode="500" />
      <error statusCode="500" path="~/Error_500.thml" responseMode="File" />
    </httpErrors>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <caching>
      <profiles>
        <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>