 
@{
    Layout = "~/Views/Shared/_dmpLayoutPage.cshtml";
}

@section AddToHead{
   
<style>
    .table > thead > tr > th {
        font-weight: 400;
        text-transform: capitalize;
    }
</style>
}

<div class="col-sm-9">
     
    <iframe width="900" height="570" src="https://app.powerbi.com/view?r=eyJrIjoiMjJiM2MxYzItZTllMC00MTdjLWJkYmUtYjc0OWMyMjkyOTNlIiwidCI6Ijg2MWU0MjY3LWQwNDEtNDViZC1hZTI5LTI5ZGEzZTIxNDhkOSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
       
    <iframe width="900" height="520" src="https://app.powerbi.com/view?r=eyJrIjoiNDhiNzc3NGYtMDQxOC00YzI2LWIxMGUtMmI0NTM2Y2ZkMGEzIiwidCI6Ijg2MWU0MjY3LWQwNDEtNDViZC1hZTI5LTI5ZGEzZTIxNDhkOSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
     

    @*<div class="table-responsive">

        <table class="table table-bordered" width="100" id="position">
            <thead>
                <tr style="color: #FFF;background-color: steelblue;">
                    <th>IP</th>
                    @foreach (var t in ViewBag.headers)
                    {
                    <th>@t</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                <tr>
                    <th style="color: cornflowerblue;">@m.IP</th>
                    @foreach(var h in ViewBag.headers)
                    {
                    int val = 0;
                    m.RoleCount.TryGetValue(h, out val);
                    <td>@(val == 0 ? "-" : val.ToString())</td>
                    }
                </tr>
                }
            </tbody>
        </table>

      
        <table class="table table-bordered" width="100" id="workstation">
            <thead>
                <tr style="color: #FFF;background-color: steelblue;">
                    <th>IP</th>
                    <th>Site</th>
                    <th>Region</th>
                    <th>HQ</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>



    </div>*@

</div>


@section Scripts
{
    
@Scripts.Render("~/bundles/dataTables")

<script>

</script>
}
