@model List<ShieldPortal.ViewModel.ScoreCardModel>

@{
    Layout = "~/Views/Shared/_dmpLayoutPage.cshtml";
}

<div class="col-lg-9">
    


</div>

@section Scripts
{
     
    @Scripts.Render("~/bundles/dataTables")

    <script>
        $(document).ready(function () {

        })
    </script>
}