@{
    Layout = "~/Views/Shared/DQAFY2017Q1Layout.cshtml";
}
<div class="col-md-9">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default minimal secondary-bg">
                <div class="panel-body">
                    <h2 class="no-margins"><strong id="facilities">0</strong></h2>
                    <p>Total Facilities</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default minimal primary-bg">
                <div class="panel-body">
                    <h2 class="no-margins"><strong id="submitted">0</strong></h2>
                    <p>Facilities submitted</p>
                </div>

            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default minimal" style="background-color:#029b17;border-color:#029b17;color: #fff;">
                <div class="panel-body">
                    <h2 class="no-margins"><strong id="lgas">0</strong></h2>
                    <p>LGAs</p>


                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default minimal" style="background-color:darkorange;border-color:darkorange;color: #fff;">
                <div class="panel-body" style="width:100%">
                    <h2 class="no-margins"><strong id="states">0</strong></h2>
                    <p>States</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">State Summary</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" id="state_summary">
                        <center>
                            <img src="~/images/Loading_icon.gif" alt="loading" />
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    $(document).ready(function () {
        loadDashboardData(@ViewBag.ip_id, 'Q1', 2016);
    });
</script>
    }