
@{
    ViewBag.Title = "DQARegenerator";
}

<h2>DQARegenerator</h2>
<div class="form-horizontal" id="reportdatadiv">
    <div class="form-group">
       
        <a href="~/DQAApi/GenerateReports" type="button" class="btn btn-black btn-outline btn-sm">Generate DQA files</a>
        
    </div>
    </div>



@section Scripts
{
    @Scripts.Render("~/bundles/MultiDatePickerCss")
}