
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-control" content="no-store, must-revalidate">
    <meta http-equiv="Vary" content="*">

    <title>Shield Portal</title>
    <!-- Site favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='~/images/umb-icon.jpg' />
    
    <style>
        @@import url('../../Content/jquery-ui.css');

        #resizer {
            border: 1px solid silver;
        }
        #inner-resizer { /* make room for the resize handle */
            padding: 10px;
        }
    </style>
</head>
<body>


    <div id="resizer" style="min-width: 350px; min-height: 200px">
        <div id="inner-resizer">
            <div id="container" style="height: 300px">
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.min.js"></script> 
    <script src="~/plugins/blockui-master/js/jquery-ui.js"></script>
    <script src="~/Scripts/Highcharts/code/highcharts.js"></script>
     @*<script src="https://code.highcharts.com/highcharts.js"></script>*@

    <script>
        $(document).ready(function () {

            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'bar',
                    spacingTop: 3,
                    spacingRight: 0,
                    spacingBottom: 3,
                    spacingLeft: 0
                },



                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },

                series: [{
                    data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                }]

            });

            $('#resizer').resizable({
                // On resize, set the chart size to that of the
                // resizer minus padding. If your chart has a lot of data or other
                // content, the redrawing might be slow. In that case, we recommend
                // that you use the 'stop' event instead of 'resize'.
                resize: function () {
                    chart.setSize(
                        this.offsetWidth - 20,
                        this.offsetHeight - 20,
                        false
                    );
                }
            });


        });
    </script>

    </body>
</html>