
@section AddToHead{
    @Styles.Render("~/bundles/CreateDMPCss")
    <link href="~/css/style.css" rel="stylesheet" />
}

<div class="main-content">
     <h4>Bi-Monthly Visualization</h4>

        <iframe width="800" height="505" 
                src="https://app.powerbi.com/view?r=eyJrIjoiZGQ0YmVlYTctNWIwMC00Y2U4LTg4ZmYtZTVkYjg5Nzg3ODcyIiwidCI6Ijg2MWU0MjY3LWQwNDEtNDViZC1hZTI5LTI5ZGEzZTIxNDhkOSIsImMiOjh9" 
                
                frameborder="0" allowFullScreen="true" >
        </iframe>
        
    </div>
       

@section Scripts
{
    @Scripts.Render("~/bundles/CreateDMPJs")
}
