
<div class="tab-pane m-b-20" id="actionPlan">
     <table class="table table-bordered table-striped text-center" id="actionPlan">
        <caption class="text-center">GSM Action Plan</caption>
        <tr>
            <th>#</th>
            <th>Identified Challenge</th>
            <th>Root Cause</th>
            <th>Personnel Responsible</th>
            <th>Indicators Monitored</th>
            <th>Expected Outcome</th>
            <th>Indicators to be Monitored</th>
        </tr>

    </table>

</div>


