
<div class="tab-pane active m-b-20" id="diffModelCare">
    <div id="diffModelCareChart">

    </div>
    <h5 class="card-title">Differentiated Model of Care</h5>
    <table class="table table-bordered table-striped text-center" id="diffModelCareTable">
        <tr>
            <th>TXCurr</th>
            <th>Total on DSD</th>
            <th>% Devolved</th>
            <th>Multi-month scripting</th>
            <th>Fast Track</th>
            <th>House Hold Led</th>
            <th>Adolescent Model</th>
        </tr>

    </table>

</div>

