
<div class="tab-pane m-b-20" id="diffModelCare">
    <div id="diffModelCareChart">
        <p style="margin-top:10px;">
            <h4 class="text-center">Charts Appear Here</h4>
            <h6 class="text-center">Load Charts By Selecting Site <i class="glyphicon glyphicon-arrow-right"></i> </h6>
        </p>
    </div>

    <table class="table table-bordered table-striped text-center" id="diffModelCareTable">
        <caption class="text-center">Differentiated Model of Care</caption>
        <tr>
            <th>TXCurr</th>
            <th>Total on DSD</th>
            <th>% Devolved</th>
            <th>Multi-month scripting</th>
            <th>Fast Track</th>
            <th>House Hold Led</th>
            <th>Adolescent Model</th>
        </tr>

    </table>

</div>

