
<div class="tab-pane active m-b-20" id="indexTesting">
    <div id="indexTestingChart">
        <p style="margin-top:10px;">
            <h4 class="text-center">Charts Appear Here</h4>
            <h6 class="text-center">Load Charts By Selecting Site <i class="glyphicon glyphicon-arrow-right"></i> </h6>
        </p>
    </div>
    
    <table class="table table-bordered text-center" id="indexTestingTable">        
        <caption class="text-center">Viral Load Cascade For the month in Review</caption>
        <tr class="text-center">
            <th rowspan="2">No of charts identified (index cases)</th>
            <th rowspan="2">
                No of charts with partner(s) of index cases listed
            </th>
            <th rowspan="2">No of charts with aLL partners of index cases with known status</th>
            <th colspan="3" scope="colgroup">
                Partner status (No of partners):
            </th>
            <th rowspan="2">No of charts with children of index cases listed</th>
            <th rowspan="2">No of charts with all children of index cases with known status</th>
            <th colspan="3"> Child status (No of children): </th>
        </tr>
        <tr class="text-center">
            <th>POS</th>
            <th>NEG</th>
            <th>UNK</th>

            <th>POS</th>
            <th>NEG</th>
            <th>UNK</th>
        </tr>

    </table>

</div>

