
<div class="tab-pane m-b-20" id="indexTesting">
    <div id="indexTestingChart">

    </div>
    <h5 class="card-title">Viral Load Cascade For the month in Review</h5>
    <table class="table table-bordered text-center" id="indexTestingTable">
        <tr class="text-center">
            <th rowspan="2">No of charts identified (index cases)</th>
            <th rowspan="2">
                (%) charts with partner(s) of index cases listed
            </th>
            <th rowspan="2">(%) charts with aLL partners of index cases with known status</th>
            <th colspan="3" scope="colgroup">
                Partner status (No. and % of partners):
            </th>
            <th rowspan="2">No of charts with children of index cases listed</th>
            <th rowspan="2">(%) charts with aLL children of index cases with known status</th>
            <th colspan="3"> Child status (No of and % of children): </th>
        </tr>
        <tr class="text-center">
            <th>NEG</th>
            <th>POS</th>
            <th>UNK</th>

            <th>NEG</th>
            <th>POS</th>
            <th>UNK</th>
        </tr>

    </table>

</div>

