
<div class="tab-pane m-b-20" id="retentionAdherence">
    <div id="retentionAdherenceChart">
        <p style="margin-top:10px;">
            <h4 class="text-center">Charts Appear Here</h4>
            <h6 class="text-center">Load Charts By Selecting Site <i class="glyphicon glyphicon-arrow-right"></i> </h6>
        </p>
    </div>

    <table class="table table-bordered  text-center" id="retentionAdherenceTable">
        <caption class="text-center">Retention / Adherence Chart Review</caption>
        <tr>
            <th>&nbsp;</th>
            <th>Number of patients reported in last month. Month : </th>
            <th>Number of patient charts reviewed</th>
            <th colspan="2">Number (%) of patient records with documented active tracking and tracing</th>
            <th colspan="2">Number (%) of patient records with documented tracking and tracing outcome</th>
        </tr>

    </table>
</div>

