
<div class="tab-pane m-b-20" id="retentionAdherence">
    <div id="retentionAdherenceChart">

    </div>
    <h5 class="card-title">Retention/Adherence Chart Review</h5>
    <table class="table table-bordered  text-center" id="retentionAdherenceTable">
        <tr>
            <th>&nbsp;</th>
            <th>Number of patients reported in last month. Month : </th>
            <th>Number of patient charts reviewed</th>
            <th colspan="2">Number (%) of patient records with documented active tracking and tracing</th>
            <th colspan="2">Number (%) of patient records with documented tracking and tracing outcome</th>
        </tr>


    </table>


</div>

