
<div class="tab-pane active m-b-20" id="retentionAdherence">
    <div id="retentionAdherenceChart">
 
    </div>
    <h5 class="card-title">Retention/Adherence Chart Review</h5>
    <table class="table table-bordered table-striped text-center" id="retentionAdherenceTable">
        <tr>
            <th></th>
            <th>
                Number of patients reported in last month
                Month:
            </th>
            <th>Number of patient charts reviewed</th>
            <th>Number (%) of patient records with documented active tracking and tracing</th>
            <th>Number (%) of patient records with documented tracking and tracing outcome</th>
           
        </tr>


    </table>

</div>

