
<div class="tab-pane m-b-20" id="tbHiv">
    <div id="tbHivChart">

    </div>
    <h5 class="card-title">TB/HIV Chart Review</h5>
    <table class="table table-bordered table-striped text-center" id="tbHivTable">
        <tr>
            <th>Patient group</th>
            <th>Month</th>
            <th>No of charts reviewed</th>
            <th>
                No. (%) with TB screening documented at most recent visit
                (Patient chart)
            </th>
            <th>
                No. (%) eligible for TPT
                (Patient chart)
            </th>
            <th>
                No. (%) started on TPT
                (Patient chart)
            </th>
            <th>
                No. (%) started on TPT
                (IPT register/EMR)

            </th>
            <th>
                No. (%) that completed TPT
                (Patient chart)

            </th>

        </tr>

    </table>

</div>

