
<div class="tab-pane m-b-20" id="tbHiv">
    <div id="tbHivChart">
        <p style="margin-top:10px;">
            <h4 class="text-center">Charts Appear Here</h4>
            <h6 class="text-center">Load Charts By Selecting Site <i class="glyphicon glyphicon-arrow-right"></i> </h6>
        </p>
    </div>
    <table class="table table-bordered  text-center" id="tbHivTable">
        <caption class="text-center">TB/HIV Chart Review</caption>
        <tr>
            <th>Patient group</th>
            <th>Month</th>
            <th>No of charts reviewed</th>
            <th colspan="2">
                No. (%) with TB screening documented at most recent visit
                (Patient chart)
            </th>
            <th colspan="2">
                No. (%) eligible for TPT
                (Patient chart)
            </th>
            <th colspan="2">
                No. (%) started on TPT
                (Patient chart)
            </th>
            <th colspan="2">
                No. (%) started on TPT
                (IPT register/EMR)
            </th>
            <th colspan="2">
                No. (%) that completed TPT
                (Patient chart)
            </th>
        </tr>

    </table>

</div>

