
<div class="tab-pane active m-b-20" id="unsViralLoad">
    <div id="unsViralLoadChart">

    </div>
    <h5 class="card-title">Unsuppressed Viral Load Cascade</h5>
    <table class="table table-bordered table-striped text-center" id="unsViralLoadTable">
        <tr class="text-center">
            <th rowspan="2">Age Cohorts</th>
            <th colspan="2" scope="colgroup">Sex</th>
            <th rowspan="2"># of unsuppressed VL</th>
            <th rowspan="2"># commenced on EAC</th>
            <th rowspan="2"># that had repeat VL</th>
            <th rowspan="2"># Switched</th>
        </tr>
        <tr class="text-center">
            <th>Male</th>
            <th>Female</th>
        </tr>


    </table>

</div>

