
<div class="tab-pane m-b-20" id="unsViralLoad">
    <div id="unsViralLoadChart" style="min-height:800px;">
        <p style="margin-top:10px;">
            <h4 class="text-center">Charts Appear Here</h4>
            <h6 class="text-center">Load Charts By Selecting Site <i class="glyphicon glyphicon-arrow-right"></i> </h6>
        </p>
    </div>
    @*<table class="table table-bordered  text-center" id="unsViralLoadTable">
        <caption class="text-center">Unsuppressed Viral Load Cascade</caption>
        <tr class="text-center">
            <th rowspan="2">Age Cohorts</th>
            <th colspan="2" scope="colgroup">Sex</th>
            <th rowspan="2">No of unsuppressed VL</th>
            <th rowspan="2">No. commenced on EAC</th>
            <th rowspan="2">No. that had repeat VL</th>
            <th rowspan="2">No. Switched</th>
        </tr>
        <tr class="text-center">
            <th>Male</th>
            <th>Female</th>
        </tr>


    </table>*@

</div>

