
<div class="tab-pane  m-b-20" id="viralLoad">
    <div id="viralLoadChart">
        <p style="margin-top:10px;">
            <h4 class="text-center">Charts Appear Here</h4>
            <h6 class="text-center">Load Charts By Selecting Site <i class="glyphicon glyphicon-arrow-right"></i> </h6>
        </p>
    </div>

    <table class="table table-bordered table-striped text-center" id="viralLoadTable">
        <caption class="text-center">Viral Load Cascade For the month in Review</caption>
        <tr>
            <th>TXCurr</th>
            <th>Eligible VL</th>
            <th>Sampled VL</th>
            <th>Documented VL</th>
            <th>Suppressed VL</th>
            <th>% Suppressed VL</th>
        </tr>

    </table>

</div>

