
<div class="tab-pane active m-b-20" id="viralLoad">
    <div id="viralLoadChart">

    </div>
    <h5 class="card-title">Viral Load Cascade For the month in Review</h5>
    <table class="table table-bordered table-striped text-center" id="viralLoadTable">
        <tr>
            <th>TXCurr</th>
            <th>Eligible VL</th>
            <th>Sampled VL</th>
            <th>Documented VL</th>
            <th>Suppressed VL</th>
            <th>% Suppressed VL</th>
        </tr>

    </table>

</div>

